.MuiTypography-root {
  overflow: hidden;
  /* padding: 12px 20px; */
}
.list-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.meeting-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px); 
}

.meeting-content {
  flex: 1;
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
  /* padding-bottom: 80px; Tạo khoảng trống để không bị chatbox che */
}

.sub-detail-group {
  padding: 12px 24px;
}