.MuiTypography-root {
  overflow: hidden;
}
.list-btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.meeting-tab {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 100px); 
  background-color: #f9f9f9;
}

.meeting-content {
  flex: 1;
  overflow-y: auto; /* Cho phép cuộn nếu nội dung dài */
  /* padding-bottom: 80px; Tạo khoảng trống để không bị chatbox che */
}


.chatbox-wrapper {
  position: sticky;
  bottom: 0;
  width: 100%;
  background: #f5f5f5;
  /* border-top: 1px solid #ddd; */
  /* box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.05); */ 
  border-radius: 30px 30px 0 0; 
  /* border-radius: 50px; */
  z-index: 10;
}
