.meeting-item {
  position: relative;
  border: 1px solid #e0e0e0;
  /* border-radius: 12px; */
  padding: 16px 20px;
  margin-bottom: 16px;
  background-color: #fff;
  transition: box-shadow 0.2s ease;
}

.meeting-item:hover {
  transform: translateY(-3px);
  box-shadow: 0 3px 8px rgba(0, 0, 0, 0.08);
}

.meeting-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  gap: 6px;
}

.meeting-title {
  font-weight: 600;
  color: #1a237e;
}

.meeting-description {
  color: #424242;
  font-size: 0.95rem;
}

.meeting-time {
  color: #757575;
  font-style: italic;
}

.meeting-status {
  font-weight: 500;
  margin-top: 4px;
}

.meeting-status.signed {
  color: #2e7d32; 
}

.meeting-status.unsigned {
  color: #c62828; 
}

.meeting-status.no-minutes {
  color: rgb(225, 147, 0);
}

.meeting-actions {
  position: absolute;
  bottom: 16px;
  right: 20px;
  display: flex;
  gap: 10px;
}

.btn-update {
  border-color: #1976d2 !important;
  color: #1976d2 !important;
  background: #f4f9ff !important;
  font-weight: 500;
  text-transform: none;
  transition: 0.2s;
}

.btn-update:hover {
  background: #e8f1ff !important;
  transform: scale(1.03);
}

.btn-delete {
  background: #f44336 !important;
  color: #fff !important;
  font-weight: 500;
  text-transform: none;
  transition: 0.2s;
}

.btn-delete:hover {
  background: #d32f2f !important;
  transform: scale(1.03);
}

.MuiDialog-paper {
  border-radius: 16px !important;
}

.MuiDialogTitle-root {
  font-weight: 600 !important;
  color: #1a1a1a;
}

.MuiDialogActions-root button {
  text-transform: none !important;
  font-weight: 500;
}