:root {
  --sidebar-width: 270px;
  --header-height: 80px;
  --bg-color: #0C6B7F;
}

.app-container {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: #f7f9fa;
  transition: all 0.3s ease;
}